# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "edca7f058b50b331090e4759a86489c6"
name = "Auto Activate Deactivate"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-04"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_inventory,write_products"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
