# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "fe84651ed3bf33e1da30795f368da96f"
name = "Auto Hide Out of Stock 1.0"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_inventory,write_products"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
