name: Deploy to Production
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Deploy
        run: |
          # Navigate to project folder
          cd /home/jpablo67/Inventory-Auto-Activate-Deactivate
          
          # Pull latest code
          git fetch --all
          git checkout main
          git pull origin main
          
          # Restart Containers
          sudo docker compose down
          sudo docker compose up -d --build
          
          # Clean up
          sudo docker image prune -f
